<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!--
    Desde magento 2.3 ya no es necesario especificar la version del modulo
    dado que introducen la tecnologia de esquemas declarativos
    -->
    <module name="M2Dev_Demo23" >
        <sequence>
        </sequence>
    </module>
</config>
