<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!--
    setup_version: es el parametro encargado de informar la version del modulo hasta magento 2.2.*,
    este valor se guarda en la tabla setup_module
    -->
    <module name="M2Dev_Demo" setup_version="1.0.0">
        <sequence>
        </sequence>
    </module>
</config>
